@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header-bg: var(--header-bg);
  --color-nav-bg: var(--nav-bg);
  --color-search-border: var(--search-border);
  --color-search-text: var(--search-text);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --header-bg: #12253E;
    --nav-bg: #183354;
    --search-border: #3A506B;
    --search-text: #8199B7;
    --accent: #F4796C;
  }
}
